@use "node_modules/@manifoldco/mercury";
$name: "ManifoldInvoices";

th {
  font-weight: unset;
}

manifold-invoices {
  .#{$name} {
    button {
      @include mercury.Button;
    }

    &__TableHeading {
      &--GrayLight {
        background-color: mercury.$color-grayLight;
      }

      &--GrayLighter {
        background-color: mercury.$color-grayLighter;
      }
    }

    &__TableCell {
      &--GrayLight {
        color: mercury.$color-grayLight;
      }

      &--GrayDark {
        color: mercury.$color-grayDark;
      }

      &--Caps {
        text-transform: capitalize;
      }
    }

    &__Heading {
      @include mercury.Typography--SmallScreenHeadingExtraLarge;

      @media (min-width: 600px) {
        @include mercury.Typography--HeadingExtraLarge;
      }
    }

    &__Subheading {
      @include mercury.Typography--SmallScreenHeadingLarge;

      @media (min-width: 600px) {
        @include mercury.Typography--HeadingLarge;
      }
    }

    table {
      border-spacing: 0;
      border-collapse: collapse;

      table {
        thead {
          tr {
            border-bottom: 1px solid mercury.$color-grayLighter;
          }
        }
        tbody {
          td {
            border: none;
          }
        }
      }

      thead {
        @include mercury.Typography--SubheadingSmall;

        text-align: left;
        color: mercury.$color-grayDarker;

        tr {
          th {
            padding: 0.75rem;

            &:first-child {
              border-radius: 2px 0 0 0;
            }

            &:last-child {
              border-radius: 0 2px 0 0;
            }
          }
        }
      }

      tbody {
        @include mercury.Typography--Body;

        td {
          padding: 0.75rem;
          border-top: 1px solid mercury.$color-grayLight;
          border-bottom: 1px solid mercury.$color-grayLight;

          &:first-child {
            border-left: 1px solid mercury.$color-grayLight;
          }

          &:last-child {
            border-right: 1px solid mercury.$color-grayLight;
          }
        }
      }
    }
  }
}
