@use "node_modules/@manifoldco/mercury";
$name: "ManifoldInvoices";

th {
  font-weight: unset;
}

manifold-invoices {
  table {
    border-spacing: 0;

    thead {
      @include mercury.Typography--SubheadingSmall;

      text-align: left;
      color: mercury.$color-grayDarker;
      background-color: transparent;

      tr {
        background-color: mercury.$color-grayLight;

        th {
          padding: 0.75rem;

          &:first-child {
            border-radius: 2px 0 0 0;
          }

          &:last-child {
            border-radius: 0 2px 0 0;
          }
        }
      }
    }

    tbody {
      @include mercury.Typography--Body;

      td {
        padding: 0.75rem;
        border-top: 1px solid mercury.$color-grayLight;
        border-bottom: 1px solid mercury.$color-grayLight;

        &:first-child {
          border-left: 1px solid mercury.$color-grayLight;
        }

        &:last-child {
          border-right: 1px solid mercury.$color-grayLight;
        }

        &.grayDark {
          color: mercury.$color-grayDark;
        }

        button {
          @include mercury.Button;
        }
      }
    }
  }
}
